[MYSQL]
POSTGRESQL_USER=
POSTGRESQL_PASSWORD=
POSTGRESQL_DB=
POSTGRESQL_HOST=
POSTGRESQL_PORT=
ENCRYPTION=
DATABASE_DRIVER=


[REDIS]
REDIS_HOST=
REDIS_PORT=

[GLPI]
API_GLPI=https://glpi.example.com/apirest.php
APP_TOKEN=
USER_TOKEN_SESSION=
GLPI_TIMEOUT=30
